/* line 17, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Variables
 *
 * @author zorp
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Layout
   ========================================================================== */
/* Links
   ========================================================================== */
/**
 * Mixins
 *
 * @author zorp
 */
/**
 * Base
 *
 * @author zorp
 */
/* line 8, ../sass/framework/_base.scss */
body {
  background-color: #fffaf4;
  color: black;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

/* line 22, ../sass/framework/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}
/* line 34, ../sass/framework/_base.scss */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  color: black;
  text-decoration: none;
}
/* line 39, ../sass/framework/_base.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: black;
}
/* line 43, ../sass/framework/_base.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: black;
}
/* line 47, ../sass/framework/_base.scss */
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  color: black;
}
/* line 51, ../sass/framework/_base.scss */
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  background-color: transparent;
  color: black;
}

/* line 59, ../sass/framework/_base.scss */
h1 {
  font-size: 300%;
}

/* line 63, ../sass/framework/_base.scss */
h2 {
  font-size: 220%;
}

/* line 67, ../sass/framework/_base.scss */
h3 {
  font-size: 170%;
}

/* line 71, ../sass/framework/_base.scss */
h4 {
  font-size: 160%;
}

/* line 75, ../sass/framework/_base.scss */
h5 {
  font-size: 110%;
}

/* line 80, ../sass/framework/_base.scss */
strong {
  font-weight: bold;
}

/* line 85, ../sass/framework/_base.scss */
em {
  font-style: italic;
}
/* line 88, ../sass/framework/_base.scss */
em strong {
  font-weight: bold;
}

/* Links
   ========================================================================== */
/* line 98, ../sass/framework/_base.scss */
a:link {
  color: #0099cc;
  text-decoration: none;
}
/* line 103, ../sass/framework/_base.scss */
a:visited {
  color: #0086b3;
  text-decoration: none;
}
/* line 108, ../sass/framework/_base.scss */
a:hover {
  color: #007aa3;
  text-decoration: underline;
}
/* line 113, ../sass/framework/_base.scss */
a:focus {
  color: #007aa3;
}

/* Paragraph
   ========================================================================== */
/* line 122, ../sass/framework/_base.scss */
p {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Image
   ========================================================================== */
/* line 132, ../sass/framework/_base.scss */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/* Lists
   ========================================================================== */
/* line 144, ../sass/framework/_base.scss */
ul {
  margin: 0;
  padding-left: 20px;
}
/* line 148, ../sass/framework/_base.scss */
ul li {
  list-style: none;
}

/* Selection color
   ========================================================================== */
/* line 158, ../sass/framework/_base.scss */
::-moz-selection,
::selection {
  background-color: #ffff99;
  color: #333;
  text-shadow: none;
}

/**
 * Typography
 *
 * @author zorp
 */
/**
 * Buttons
 *
 * @author magnify
 */
/* Variables
   ========================================================================== */
/* Extends
   ========================================================================== */
/* line 32, ../sass/framework/_buttons.scss */
.button, .button-theme, .button-action, .button-warning, .button-danger {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 100%;
  padding: 8px 14px;
  position: relative;
  box-shadow: 0 0 1px #595959 inset;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
/* line 47, ../sass/framework/_buttons.scss */
.button:focus, .button-theme:focus, .button-action:focus, .button-warning:focus, .button-danger:focus, .button:hover, .button-theme:hover, .button-action:hover, .button-warning:hover, .button-danger:hover, .button:active, .button-theme:active, .button-action:active, .button-warning:active, .button-danger:active {
  text-decoration: none;
}
/* line 53, ../sass/framework/_buttons.scss */
.disabled.button, .disabled.button-theme, .disabled.button-action, .disabled.button-warning, .disabled.button-danger, [disabled].button, [disabled].button-theme, [disabled].button-action, [disabled].button-warning, [disabled].button-danger {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Mixins
   ========================================================================== */
/* Default button */
/* line 95, ../sass/framework/_buttons.scss */
.button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #1e1e1e));
  background-image: -webkit-linear-gradient(#444444, #1e1e1e);
  background-image: -moz-linear-gradient(#444444, #1e1e1e);
  background-image: -o-linear-gradient(#444444, #1e1e1e);
  background-image: linear-gradient(#444444, #1e1e1e);
  /* Make sure buttons get a background color in IE */
  background-color: #444444;
  border: 0;
  color: white;
}
/* line 78, ../sass/framework/_buttons.scss */
.button:link, .button:visited {
  color: white;
}
/* line 85, ../sass/framework/_buttons.scss */
.button:focus, .button:hover, .button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#373737, #111111);
  background-image: -moz-linear-gradient(#373737, #111111);
  background-image: -o-linear-gradient(#373737, #111111);
  background-image: linear-gradient(#373737, #111111);
  background-color: #1e1e1e;
}

/* Theme button */
/* line 101, ../sass/framework/_buttons.scss */
.button-theme {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b7e7), color-stop(100%, #007a9b));
  background-image: -webkit-linear-gradient(#00b7e7, #007a9b);
  background-image: -moz-linear-gradient(#00b7e7, #007a9b);
  background-image: -o-linear-gradient(#00b7e7, #007a9b);
  background-image: linear-gradient(#00b7e7, #007a9b);
  /* Make sure buttons get a background color in IE */
  background-color: #00b7e7;
  border: 0;
  color: white;
}
/* line 78, ../sass/framework/_buttons.scss */
.button-theme:link, .button-theme:visited {
  color: white;
}
/* line 85, ../sass/framework/_buttons.scss */
.button-theme:focus, .button-theme:hover, .button-theme:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a3ce), color-stop(100%, #006681));
  background-image: -webkit-linear-gradient(#00a3ce, #006681);
  background-image: -moz-linear-gradient(#00a3ce, #006681);
  background-image: -o-linear-gradient(#00a3ce, #006681);
  background-image: linear-gradient(#00a3ce, #006681);
  background-color: #007a9b;
}

/* Action button */
/* line 107, ../sass/framework/_buttons.scss */
.button-action {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #053510), color-stop(100%, #074c17));
  background-image: -webkit-linear-gradient(#053510, #074c17);
  background-image: -moz-linear-gradient(#053510, #074c17);
  background-image: -o-linear-gradient(#053510, #074c17);
  background-image: linear-gradient(#053510, #074c17);
  /* Make sure buttons get a background color in IE */
  background-color: #053510;
  border: 1px solid black;
  color: white;
}
/* line 78, ../sass/framework/_buttons.scss */
.button-action:link, .button-action:visited {
  color: white;
}
/* line 85, ../sass/framework/_buttons.scss */
.button-action:focus, .button-action:hover, .button-action:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #031e09), color-stop(100%, #053510));
  background-image: -webkit-linear-gradient(#031e09, #053510);
  background-image: -moz-linear-gradient(#031e09, #053510);
  background-image: -o-linear-gradient(#031e09, #053510);
  background-image: linear-gradient(#031e09, #053510);
  background-color: #074c17;
}

/* Warning button */
/* line 113, ../sass/framework/_buttons.scss */
.button-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6d346), color-stop(100%, #e4b90b));
  background-image: -webkit-linear-gradient(#f6d346, #e4b90b);
  background-image: -moz-linear-gradient(#f6d346, #e4b90b);
  background-image: -o-linear-gradient(#f6d346, #e4b90b);
  background-image: linear-gradient(#f6d346, #e4b90b);
  /* Make sure buttons get a background color in IE */
  background-color: #f6d346;
  border: 0;
  color: black;
}
/* line 78, ../sass/framework/_buttons.scss */
.button-warning:link, .button-warning:visited {
  color: black;
}
/* line 85, ../sass/framework/_buttons.scss */
.button-warning:focus, .button-warning:hover, .button-warning:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5cd2e), color-stop(100%, #cca50a));
  background-image: -webkit-linear-gradient(#f5cd2e, #cca50a);
  background-image: -moz-linear-gradient(#f5cd2e, #cca50a);
  background-image: -o-linear-gradient(#f5cd2e, #cca50a);
  background-image: linear-gradient(#f5cd2e, #cca50a);
  background-color: #e4b90b;
}

/* Danger button */
/* line 119, ../sass/framework/_buttons.scss */
.button-danger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf3600), color-stop(100%, #732000));
  background-image: -webkit-linear-gradient(#bf3600, #732000);
  background-image: -moz-linear-gradient(#bf3600, #732000);
  background-image: -o-linear-gradient(#bf3600, #732000);
  background-image: linear-gradient(#bf3600, #732000);
  /* Make sure buttons get a background color in IE */
  background-color: #bf3600;
  border: 0;
  color: white;
}
/* line 78, ../sass/framework/_buttons.scss */
.button-danger:link, .button-danger:visited {
  color: white;
}
/* line 85, ../sass/framework/_buttons.scss */
.button-danger:focus, .button-danger:hover, .button-danger:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a62f00), color-stop(100%, #591900));
  background-image: -webkit-linear-gradient(#a62f00, #591900);
  background-image: -moz-linear-gradient(#a62f00, #591900);
  background-image: -o-linear-gradient(#a62f00, #591900);
  background-image: linear-gradient(#a62f00, #591900);
  background-color: #732000;
}

/* line 124, ../sass/framework/_buttons.scss */
.button-circle,
.button-search,
.button-favorites,
.button-account {
  width: 40px;
  height: 40px;
  background: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  /*-webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;*/
  border: 1px solid #828282;
  padding: 0;
  font-size: 85%;
}

/* Don't use native buttons on iOS */
/* line 133, ../sass/framework/_buttons.scss */
input[type=submit].button,
button.button {
  -webkit-appearance: none;
}

/* Correct FF button padding */
@-moz-document url-prefix() {
  /* line 144, ../sass/framework/_buttons.scss */
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}

/**
 * Layout
 *
 * @author zorp
 */
/* line 8, ../sass/layout/_layout.scss */
.col1-layout .col-main {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/skin/frontend/elneff/default/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 14, ../sass/layout/_layout.scss */
.col2-right-layout .col-main {
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -66.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/skin/frontend/elneff/default/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 17, ../sass/layout/_layout.scss */
.col2-right-layout .col-right {
  float: right;
  width: 33.33333%;
  margin-right: 0%;
  margin-left: -33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/skin/frontend/elneff/default/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 22, ../sass/layout/_layout.scss */
.page-wrapper {
  width: 100%;
  background-color: #fffaf4;
  margin-top: 400px;
  overflow: hidden;
}
/* line 28, ../sass/layout/_layout.scss */
.page-wrapper .page-wrapper-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

/* line 36, ../sass/layout/_layout.scss */
.promotion {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/promotion.jpg);
  background-repeat: no-repeat;
  position: fixed;
  height: 400px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: -9999;
}
/* line 49, ../sass/layout/_layout.scss */
.promotion .promotion-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

/* line 57, ../sass/layout/_layout.scss */
.navigation {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/skin/frontend/elneff/default/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  position: relative;
  margin: 0 auto;
  height: 100px;
  clear: both;
  z-index: 9999 !important;
}

/* line 67, ../sass/layout/_layout.scss */
.primary-content {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/skin/frontend/elneff/default/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  background-color: #fffaf4;
}

/* line 74, ../sass/layout/_layout.scss */
.footer-container {
  clear: both;
}

/**
 * Navigation
 *
 * @author zorp
 */
/* line 7, ../sass/module/_navigation.scss */
.navigation {
  font-family: "Old Standard TT", serif;
  background-color: #fffaf4;
}
/* line 11, ../sass/module/_navigation.scss */
.navigation .logo {
  margin-right: 35px;
}
/* line 15, ../sass/module/_navigation.scss */
.navigation .main-menu, .navigation .function-menu {
  float: left;
  margin-top: 30px;
  padding: 0;
  font-size: 160%;
  font-weight: lighter;
}
/* line 22, ../sass/module/_navigation.scss */
.navigation .main-menu .menu-item, .navigation .function-menu .menu-item {
  display: inline;
  margin-left: 15px;
  padding-left: 4px;
  padding-right: 4px;
  color: #828282;
}
/* line 29, ../sass/module/_navigation.scss */
.navigation .main-menu .menu-item.first, .navigation .function-menu .menu-item.first {
  margin-left: 0;
}
/* line 35, ../sass/module/_navigation.scss */
.navigation .main-menu .menu-item:hover, .navigation .function-menu .menu-item:hover, .navigation .main-menu .menu-item:active, .navigation .function-menu .menu-item:active, .navigation .main-menu .menu-item.active, .navigation .function-menu .menu-item.active {
  border-bottom: 6px solid black;
  padding-bottom: 10px;
  color: black;
}
/* line 43, ../sass/module/_navigation.scss */
.navigation .main-menu .menu-item a:link, .navigation .function-menu .menu-item a:link, .navigation .main-menu .menu-item a:visited, .navigation .function-menu .menu-item a:visited {
  text-decoration: none;
  color: #828282;
}
/* line 48, ../sass/module/_navigation.scss */
.navigation .main-menu .menu-item a:hover, .navigation .function-menu .menu-item a:hover, .navigation .main-menu .menu-item a:active, .navigation .function-menu .menu-item a:active {
  text-decoration: none;
  color: black;
}
/* line 56, ../sass/module/_navigation.scss */
.navigation .function-menu {
  float: right;
  margin-top: 20px;
}
/* line 62, ../sass/module/_navigation.scss */
.navigation .function-menu .menu-item {
  margin-left: 10px;
  padding: 0;
}
/* line 68, ../sass/module/_navigation.scss */
.navigation .function-menu .menu-item:hover, .navigation .function-menu .menu-item:active, .navigation .function-menu .menu-item.active {
  border: none;
  padding-bottom: 0;
}

/* line 79, ../sass/module/_navigation.scss */
.button-search:before {
  color: #828282;
}

/* line 87, ../sass/module/_navigation.scss */
.button-favorites:before {
  color: #828282;
}

/* line 95, ../sass/module/_navigation.scss */
.button-account:before {
  color: #828282;
}

/**
 * Promotion
 *
 * @author zorp
 */
/* line 9, ../sass/module/_promotion.scss */
.promotion-block {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/skin/frontend/elneff/default/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 12, ../sass/module/_promotion.scss */
.promotion-block .promotion-block-inner {
  margin-top: 25px;
  padding: 20px 40px 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-family: "Old Standard TT", serif;
}
/* line 22, ../sass/module/_promotion.scss */
.promotion-block .promotion-logo {
  margin-bottom: 10px;
}
/* line 26, ../sass/module/_promotion.scss */
.promotion-block .promotion-heading {
  font-family: "Old Standard TT", serif;
}
/* line 30, ../sass/module/_promotion.scss */
.promotion-block .promotion-content {
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 130%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
