/**
 * Base
 *
 * @author zorp
 */


body {
  background-color: $white;
  color: $font-color-primary;
  font-family: $font-body;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;

  font-family: "Source Sans Pro Semi Bold", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;

  a {
    &:link {
      color: $font-color-primary;
      text-decoration: none;
    }

    &:visited {
      color: darken($font-color-primary, 25%);
    }

    &:hover {
      color: darken($font-color-primary, 25%);
    }

    &:focus {
      color: darken($font-color-primary, 25%);
    }

    &:active {
      background-color: transparent;
      color: darken($font-color-primary, 25%);
    }
  }
}


h1 {
  font-size: $font-size-giga;
}

h2 {
  font-size: $font-size-mega;
}

h3 {
  font-size: $font-size-largest;
}

h4 {
  font-size: $font-size-larger;
}

h5 {
  font-size: $font-size-medium;
}


strong {
  font-weight: bold;
}


em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}


/* Links
   ========================================================================== */

a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }

  &:visited {
    color: darken($link-color, 5%);
    text-decoration: none;
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    color: $link-color-hover;
  }
}


/* Paragraph
   ========================================================================== */

p {
  margin-top: 0;
  margin-bottom: 20px;
}



/* Image
   ========================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}



/* Lists
   ========================================================================== */

ul {
  margin: 0;
  padding-left: 20px;

  li {
    list-style: none;
  }
}


/* Selection color
   ========================================================================== */

::-moz-selection,
::selection {
  background-color: #ffff99;
  color: #333;
  text-shadow: none;
}