/**
 * Breakpoints
 *
 * Contains breakpoints and media queries
 *
 * @author zorp
 */



/* Breakpoints
   ========================================================================== */

$breakpoint-1:               300px;
$breakpoint-2:               450px;
$breakpoint-3:               620px;
$breakpoint-4:               850px;


/* Media queries
   ========================================================================== */

@mixin breakpoint($breakpoint) {
  @if $breakpoint == 1 {
    @media only screen and (min-width: $breakpoint-1) { @content; }
  }

  @if $breakpoint == 2 {
    @media only screen and (min-width: $breakpoint-2) { @content; }
  }

  @if $breakpoint == 3 {
    @media only screen and (min-width: $breakpoint-3) { @content; }
  }

  @if $breakpoint == 4 {
    @media only screen and (min-width: $breakpoint-4) { @content; }
  }
}



/* Debugging
   ========================================================================== */

%breakpoint {
  display: none;

  /* This is debugging so ignoring the one-direction margin rule */
  margin: 1em;

  background-color: $black;
  color: $white;
  text-align: center;

  @include border-radius(2em)
}

.breakpoint-1 {
  @extend %breakpoint;

  @include breakpoint(1) {
    display: block;
    width: $breakpoint-1;
  }
}

.breakpoint-2 {
  @extend %breakpoint;

  @include breakpoint(2) {
    display: block;
    width: $breakpoint-2;
  }
}

.breakpoint-3 {
  @extend %breakpoint;

  @include breakpoint(3) {
    display: block;
    width: $breakpoint-3;
  }
}

.breakpoint-4 {
  @extend %breakpoint;

  @include breakpoint(4) {
    display: block;
    width: $breakpoint-4;
  }
}